@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
  color: #fff;
}
/*---------------global-------------*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
i{
  cursor: pointer;
}
.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 90%;
  margin: auto;
}




button {
  background: red;
  outline: none;  
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 17px;
  border-radius:30px;
  margin-right: 50px;
  border: 4px solid transparent;
  box-shadow: 0 0 7px 8px #ff00004d;
  cursor: pointer;
}





.row {
  width: 50%;
}
p {
  line-height: 30px;
}

/*---------------global-------------*/
/*---------------control-btn-------------*/
.control-btn button {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.control-btn .next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.control-btn .prev {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 99;
}
/*---------------control-btn-------------*/
.heading h1 {
  font-weight: 500;
  margin: 30px 0;
}
.heading a {
  color: #e50813;
}
/*---------------MovieBox-------------*/

.MovieBox {
  width: 240px;
  height: 480px;
  position: relative;
  transition: 0.1s;
  border-left: 5px solid transparent;
}
.MovieBox:hover {
  cursor: pointer;
  border-bottom: 5px solid #e50813;
  transition: all 0.1s ease-in-out;
  transform:scale(1.1);
  box-shadow: 0px 0px 0.75em rgba(0, 0, 0, 0.9);
}

.MovieBox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 30px;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.MovieBox h3 {
  position: absolute;
  text-align: center;
  font-weight: 500;
  top: 90%;
  height:100%;
  color: white;
}
.MovieBox:hover h3{
  color: chocolate;
  left:0;
  /* transition: all 0.1s ease-out; */
  transition: margin-right 4s ease-in-out 1s;
  /* transform:scale3d(1,1,1); */
  transform:scale(1);
}






/*---------------MovieBox-------------*/
@media only screen and (max-width: 768px) {
  .MovieBox {
    width: 320px;
    height: 250px;
  }

  
}